.text-white
{
    color: white;
}

.bg-brown
{
    background-color: #211A19;
}

.bg-brand-lightBrown
{
    background-color: #FC6418;
}
.table-color
{
    background-color: #9A817B;
}
.bg-orange
{
    background-color: #FC6418;
}

.bg-brand-red
{
    background-color: #fc0000;
}

