.block
{
    display: block;
}
.inline-block
{
    display: inline-block;
}
.inline
{
    display: inline;
}
.hidden
{
    display:  none;
}

.flex
{
    display: flex
}

.justify-between 
{
    justify-content: space-between;
}
.justify-center 
{
    justify-content: center;
}

.items-center
{
    align-items: center;
}

.relative
{
    position: relative;
}