h1{
    margin: 0;
}

p{
    margin: 0;
}

.font-lato
{
    font-family: 'Lato', sans-serif;
}


.font-bold
{
    font-weight: bold;
}
.uppercase
{
    text-transform: uppercase;
}
.text-sm
{
    font-size: 14px;
}