
body
{
    -webkit-font-smoothing : antialised;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    
    background-image: url('../images/car.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
